.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 280px;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--color-black);
}
