.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.group,
.pages {
  display: flex;
  align-items: center;
}

.group {
  gap: 8px;
}

.pages {
  gap: 10px;
}

.btn,
.page,
.ellipsis {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.05);
  background: transparent;
  color: var(--color-black);
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  cursor: pointer;
}

.btn:not(:disabled) {
  border-color: rgba(38, 38, 38, 0.2);
}

.btn:disabled {
  cursor: default;
  pointer-events: none;
  color: #262626;
}

.btn:disabled svg {
  color: #262626;
  opacity: 0.5;
}

.page:hover:not(.active),
.btn:not(:disabled):hover {
  opacity: 0.8;
}

.active {
  background-color: var(--accent);
  border-color: var(--accent);
  color: #fff;
  cursor: default;
  pointer-events: none;
}

.ellipsis {
  cursor: default;
}

.double {
  display: inline-flex;
  align-items: center;
  margin-inline: -6px;
}

.double > *:last-child {
  margin-left: -14px;
}
