.page {
  min-height: 100%;
  padding: 40px 0 60px;
  background-color: #f9f9f9;
}

.title {
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

@media (min-width: 768px) {
  .page {
    padding: 64px 0 80px;
  }

  .title {
    font-size: 54px;
    line-height: 1;
  }

  .pagination {
    margin-top: 60px;
  }
}

@media (min-width: 1280px) {
  .page {
    padding: 91px 0 80px;
  }

  .title {
    font-size: 54px;
    line-height: 1;
  }

  .pagination {
    margin-top: 60px;
  }
}
