.header {
  width: 100%;
  background-color: #f9f9f9;
}

.inner {
  display: flex;
  align-items: center;
  height: 74px;
  padding: 28px 20px 20px;
}

.nav {
  display: flex;
  align-items: center;
  order: 3;
  margin-left: 12px;
}

.actions {
  display: flex;
  align-items: center;
  order: 2;
  margin-left: auto;
}

@media (min-width: 769px) {
  .inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 0;
    box-sizing: border-box;
    height: 82px;
    padding: 16px 32px;
  }

  .nav {
    order: initial;
    justify-self: center;
    margin-left: 0;
  }

  .actions {
    order: initial;
    margin-left: 0;
    justify-self: end;
  }
}

@media (min-width: 1280px) {
  .inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 82px;
    padding: 16px 64px;
  }
}
