.header {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 74px;
  padding: 20px;
}

.nav {
  display: flex;
  align-items: center;
  order: 3;
}

.header > :last-child {
  order: 2;
  margin-left: auto;
}

@media (min-width: 769px) {
  .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 0;
    height: 80px;
    padding: 16px 32px;
  }

  .nav {
    order: initial;
    justify-self: center;
  }

  .header > :last-child {
    order: initial;
    margin-left: 0;
    justify-self: end;
  }
}

@media (min-width: 1280px) {
  .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 50px;
    padding: 16px 64px;
  }

  .nav {
    justify-self: center;
  }

  .header > :last-child {
    justify-self: end;
  }
}
