.block {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  min-height: 40px;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--color-black);
}
