.page {
  min-height: 100%;
  padding: 40px 0 60px;
  background-color: #f9f9f9;
}

.page h1 {
  margin: 0 0 40px;
}

@media (min-width: 768px) {
  .page {
    padding: 0 0 80px;
  }

  .page h1 {
    margin: 0 0 44px;
    font-size: 54px;
    line-height: 1;
  }
}

@media (min-width: 1280px) {
  .page {
    padding: 91px 0 80px;
  }

  .page h1 {
    margin-bottom: 60px;
    font-size: 54px;
    line-height: 1;
  }
}
