.nav {
  margin: 0;
}

.headerOnly {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin: 0;
}

.drawerAuth {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 178px;
}

.loginBtn {
  width: 178px;
  padding: 0;
}

.registerBtn {
  width: 178px;
  padding: 0;
}

@media (min-width: 769px) {
  .headerOnly {
    display: block;
  }

  .list {
    flex-direction: row;
    gap: 10px;
  }

  .drawerAuth {
    flex-direction: row;
    width: 276px;
  }

  .loginBtn {
    width: 119px;
  }

  .registerBtn {
    width: 149px;
  }
}

@media (min-width: 1280px) {
  .headerOnly {
    display: block;
  }

  .list {
    flex-direction: row;
    gap: 10px;
  }
}
